<div class="container">
	<div class="row">
		<div class="col-4 bg-info p-5">
			<div class="card m-auto" style="width: 18rem;">
			  <div class="card-body text-center">
			    <h1 class="card-title">100+</h1>
			    <h3>Services</h3>
			  </div>
			</div>
		</div>
		<div class="col-4 bg-warning p-5">
			<div class="card m-auto" style="width: 18rem;">
			  <div class="card-body text-center">
			    <h1 class="card-title">100+</h1>
			    <h3>Sales</h3>
			  </div>
			</div>
		</div>
		<div class="col-4 bg-success p-5">
			<div class="card m-auto" style="width: 18rem;">
			  <div class="card-body text-center">
			    <h1 class="card-title">100+</h1>
			    <h3>Revenue</h3>
			  </div>
			</div>
		</div>
	</div>
</div>